/*light theme*/
// @import "primevue/resources/themes/lara-light-blue/theme.css";
/*darktheme */
@import "primevue/resources/themes/lara-dark-teal/theme.css";
@layer tailwind-base, primevue, tailwind-utilities;
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "./theme";
@layer tailwind-base {
  @tailwind base;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.p-button {
  border: none !important;
  box-shadow: none !important;
}
.ring {
  box-shadow: none !important;
}
